@tailwind base;
@tailwind components;
@tailwind utilities;

.line-with-text {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .line {
    flex: 1;
    height: 1px;
    background-color: #919191;
  }

  .text-word {
    margin: 0 10px; 
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    color: #616060
  }

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.first{
    background-image: linear-gradient(to right, #04B4E8 , #9CE0FF), url('./assets/WhiteDoodle2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}
.first2{
  background-image: linear-gradient(to right, #FFFFFF , #D8F3FF), url('./assets/BlueDoodle.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}
.second{
  background-image: linear-gradient(to right, #D8F3FF , #FFFFFF), url('./assets/BlueDoodle2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}
.second2{
  background-image: linear-gradient(to right, #9CE0FF , #04B4E8), url('./assets/WhiteDoodle.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}
