@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Open Sans", sans-serif; */
}

.line-with-text {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .line {
    flex: 1;
    height: 1px;
    background-color: #919191;
  }

  .text-word {
    margin: 0 10px; 
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    color: #616060
  }

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.numberInput::-webkit-outer-spin-button,
.numberInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.first{
    background-image: linear-gradient(to right, #04B4E8 , #9CE0FF), url('./assets/WhiteDoodle2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}
.first2{
  background-image: linear-gradient(to right, #D8F3FF, #FFFFFF), url('./assets/BlueDoodle.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}
.second{
  background-image: linear-gradient(to right, #FFFFFF, #D8F3FF ), url('./assets/BlueDoodle2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}
.second2{
  background-image: linear-gradient(to right, #9CE0FF , #04B4E8), url('./assets/WhiteDoodle.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  color:#FFFFFF
}
.profilepic::file-selector-button{
  padding: 1px 1px;
  font-size: small;
  margin: 0px 3px;
  margin-right: 5px;
}
.fileInput::file-selector-button{
  padding: 1px 1px;
  font-size: small;
  margin: 0px 3px;
  margin-right: 5px;
}

.react-quill::-webkit-scrollbar{
  display: none;
}

.main{
 background-image: url("./assets/maindoodle.png"); 
 background-size: contain;
 /* background-repeat: no-repeat; */
 background-blend-mode: overlay;
 
}

.text-shadow{
    text-shadow: 1px 1px 5px #a0a0a0;
}
.text-shadowmd{
  text-shadow: 1px 1px 2px #aaaaaa;
}

.about-main{
  background-image: url("./assets/aboutbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 5px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #b4babdaf;
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: content-box;
}

.scrollbar-invisible::-webkit-scrollbar {
  display: none;
}